.slider {
  position: relative;
 
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.slider .image {
  width: 600px;
  margin: auto;
  border-radius: 10px;
}

.slider .right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slider .left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    margin-top: 1rem;
}

#projects menu button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .slider .right-arrow, .slider .left-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Background for visibility */
    border-radius: 50%; /* Circular shape */
    padding: 0.5rem;
  }
  
  .slider .right-arrow :hover,
  .slider .left-arrow :hover {
    background-color: #eb750d;
    color: #eb750d;
  }
  
  .slider .right-arrow.active,
  .slider .left-arrow.active {
    background-color: orange;
    color: orange;
  }
  
  
@media (max-width: 768px) {
  .slider .image {
    width: 100%; /* Adjust image width for smaller screens */
    top: 0;
  }

  .slider .right-arrow, .slider .left-arrow {
    font-size: 2rem; /* Smaller arrows for mobile */
  }
}

  