.project-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #fff solid;
    height: 40rem;
    margin: 0 2rem;
}

.github-button {
    font-size: 2.5rem;
}

 
@media (max-width: 768px) {
 .project-container {
    margin: 0 0rem;
 }
}

  