/* SECTIONS */
.about-section {
  padding-top: 4vh;
  height: 96vh;
  width: 90%;
  margin: auto;
  margin-top: 9rem;
  box-sizing: border-box;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.part-title {
  font-size: 2rem;
  text-align: left;
  color: #fff;
}

.text-ed-container {
  margin: auto;
  display: flex;
}

.text-container {
  width: 50%;
  text-align: left;
}

.text-container h4 {
  font-size: 2rem;
  color: #fff;
}

.text-container p {
  font-size: 1.5rem;
  color: #fff;
}

/* ABOUT SECTION */

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

@media screen and (max-width: 576px) {
}
