.education-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

.education-details-container {
  margin: auto;
  padding: 1.5rem;
  width: 25rem;
  margin-bottom: 2rem;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

@media screen and (max-width: 576px) {
    .education-details-container {
        width: 15rem;
      }
}