/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color: #fff;
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 2rem;
}
