.education-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
}

.education-wrapper {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.education-details-container {
  padding: 0.5rem;
  text-align: left;
}

.education-wrapper h4,
.education-wrapper h3,
.education-wrapper p {
  color: #fff;
}

@media screen and (max-width: 576px) {
    .education-details-container {
        width: 15rem;
      }
}

